<!-- zipMoney Logo -->
<img src="<?php echo $this->escapeHtml($this->getPaymentAcceptanceMarkSrc())?>" alt=" class="v-middle" />&nbsp;
<strong><?php echo $this->getMethodTitle(); ?></strong>
<!-- zipMoney Logo -->
