<iframe id="landingpage" style="border:none;height:100vh;width: 100%" src="<?php echo $this->getLandingPageUrl();?>"></iframe>

<script type="text/javascript">

jQuery("#landingpage").load(function() {
    jQuery("#landingpage").height(jQuery("#landingpage").contents().find("#zip-pay-container").height());
});

jQuery(window).resize(function() {
    jQuery("#landingpage").height(jQuery("#landingpage").contents().find("#zip-pay-container").height());
});

</script>
<style type="text/css">
#landingpage::-webkit-scrollbar { 
    display: none; 
}
</style>